@use './variables' as *;
@use './mixins' as *;

// Root setup ---------------------------------------------------------------
html {
  font-size: $root-font-size;
  font-family: $font-family-base;
}

body {
  background: $color-dark;
  color: $color-text;
  font-size: $font-size-md;
  font-family: "Oxanium", sans-serif;
}

html, body {
    display: flex;
    width: 100%; 
    height: 100%; 
    padding: 0; 
    margin: 0; 
}

#root {
    display: flex;
    width: 100%; 
    height: 100%; 
    padding: 0; 
    margin: 0; 
}


// Basic resets ---------------------------------------------------------------
*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Container utility ----------------------------------------------------------
.flex-container {
    display: flex;
  width: 100%;
  margin: 0 ;
  padding: 0 ;
}

// Card component example -----------------------------------------------------
.card {
  background: white;
  border-radius: $radius-md;
  padding: $space-4;
  box-shadow: $shadow-sm;

  @include respond(sm) {
    padding: $space-3;
  }
}

section{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
