@use '../../styles/variables' as *;

.flex-container{
    flex-direction: row;
    height: 100%;
    
    .side-bar{
        display: flex;
        flex-direction: column;
        height: 100%;
        min-width: 40rem;
        padding: 8rem 4rem;

        background-color: $color-primary;


        .header{
            display: flex;
            flex-direction: column;
            font-size: $font-size-xl;
            font-weight: $font-weight-bold;
            font-family: "Orbitron", sans-serif;
        }
        
        .profile{
            display: flex;
            flex: 2;
            align-items: center;
            gap: 2rem;
              
              .profile-image {
                width: 48px;
                height: 48px;
                border-radius: 50%; // circle
                border:  2px solid $color-dark;
                object-fit: cover;
              }
              .profile-username{
                font-size: $font-size-md;
                color: $color-text;
              }
        }

        .menu{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            flex: 5;
            .menu-title
            {
                font-size: $font-size-lg;
                font-weight: $font-weight-semi-bold;
                margin-bottom: 1rem;
            }

            .menu-item {
                display: flex;
                align-items: center;
                gap: 2rem;
                text-decoration: none;
                border-left: 2px solid transparent;
                padding: 0.2rem 2rem;
              }
              
              .menu-item .menu-icon {
                width: 1.8rem;
                height: 1.8rem;
                object-fit: contain;
              }

              .menu-item.active {
                border-left-color: $color-dark;
                font-weight: 600;
              }
        }

        .logout{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            color: $color-dark;

            .icon {
              width: 1.8rem;
              height: 1.8rem;
              object-fit: contain;
            }
        }

        
    }
    .content{
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        height: 100%;

        padding: 8rem 4rem;
    }
    
}