@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

section.discover {
    display: flex;
    gap: 2rem;

    div{
        display: flex;
    }

    .header {
        width: 100%;
        font-size: $font-size-xl;
       
    }
    .body{
        flex-direction: column;
        width: 100%;
        flex: 6;

        .search {
        
            input {
              width: 100%;
              padding: 1rem;
            }
          }
        
          .list {
            width: 100%;
            flex-direction: column;
            gap: 2rem;

            .list-item {
              width: 100%;
              padding: 1rem;
              border: 1px solid $color-primary;
              border-radius: 0.5rem;
              flex-direction: row;
              justify-content: space-between;

              .left{
                flex-direction: column;
                gap: 1rem;
              }
              .right{
                flex-direction: row;
                gap: 1rem;
              }
            
          }
        
          .pagination {
            margin-top: 2rem;
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;
          }


    }
  
   
  }}
  