@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

section.discover {
    display: flex;
    gap: 2rem;

    

    .header {
      display: flex;
        width: 100%;
        justify-content: space-between;
        p
        {
          font-size: $font-size-xl;
        } 

        button {
          padding: 0.8rem 1rem;
          font-size: $font-size-md;
          font-weight: $font-weight-medium;
          border: none;
          border-radius: $radius-md;
          cursor: pointer;
          outline: none;

          background: $color-primary;
          color: $color-text;
        }
        
       
    }
    .body{
      display: flex;
        flex-direction: column;
        width: 100%;
        flex: 6;
        gap: 2rem;

        .search {
        display: flex;
            input {
              width: 100%;
              padding: 1rem;
            }
          }
        
          .list {
            width: 100%;
            flex: 1;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            .list-item {
              width: 100%;
              padding: 1rem;
              border: 1px solid $color-primary;
              border-radius: 0.5rem;
              flex-direction: row;
              justify-content: space-between;

              .left{
                flex-direction: column;
                gap: 1rem;
                .name{
                  font-size: $font-size-lg;
                }
                .author{
                  font-size: $font-size-md;
                  color: rgba($color-text, 0.7);}
                }
              }
              .right{
                flex-direction: row;
                gap: 2rem;

                div{
                  align-items: center;
                }
              }
            
          }
        
          

    }
    .pagination {

      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }

   
  }
  